<%- include('./partials/header'); -%>

    <%- include('./partials/navigation'); -%>

    <!-- Main Content -->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/bolivar.jpg" alt="" class="w-25">
            <h1 class="diplay-1 my-5 text-uppercase fw-bold">William</h1>
            <a href="/about" class="btn btn-primary w-25">About</a>
        </div>
    </header>

<%- include('./partials/footer'); -%>
